{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<p><h4>Booking confirmation: Thank you for booking with Malagacar</h4></p>

<div class="alert alert-success" role="alert">
    <p>Booking number:
    <h3>{{booking.booking_number}}</h3></p>

    <div class="card">
        <h4 class="card-header">{{booking.car}} or similar</h4>
        <div class="card-body" style="z-index: 100;">
            <table class="table borderless">
                <thead>
                <tr>
                    <th>Arrival</th>
                    <th>Departure</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><i class="fa fa-flag-checkered"></i> Malaga airport</td>
                    <td><i class="fa fa-flag-checkered"></i> Malaga airport</td>
                </tr>
                <tr>
                    <td><i class="fa fa-calendar"></i> {{str_date_from}}</td>
                    <td><i class="fa fa-calendar"></i> {{str_date_until}}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-clock-o"></i> {{str_time_from}}</td>
                    <td><i class="fa fa-clock-o"></i> {{str_time_until}}</td>
                </tr>
                <tr>
                    <td><b>Booking Number:</b> {{booking.booking_number}}</td>
                    <td><b>Duration:</b> {{booking.time_period}} day(s)</td>
                </tr>
                <tr>
                    <td><b>Person:</b> {{booking.fullname}}</td>
                    <td><b>Price:</b> {{booking.total}} EUR</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr>
    <p class="mb-0">Without the booking number and a personal ID you can not pick up the car.</p>

</div>


{% endblock %}
