
<div class="row marketing">
        <div class="col-lg-6">
            <h4><span class="oi oi-check" style="color: #4CAF50;"></span> Fastest airport service</h4>
            <p>Pick up / drop off car in front of terminal No shuttle to off location</p>
            <h4><span class="oi oi-check" style="color: #4CAF50;"></span> 100% All Inclusive rates</h4>
            <p>No unexpected surprises upon arrival Lowest deductible</p>
        </div>

        <div class="col-lg-6">
            <h4><span class="oi oi-check" style="color: #4CAF50;"></span> No fuel rip-off</h4>
            <p>We do not charge refueling service fee.</p>
            <h4><span class="oi oi-check" style="color: #4CAF50;"></span> Subheading</h4>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
        </div>
</div>